{% extends "charity/base.html"%}
{%block title%}{%endblock%}
{%block content%}
<div class="container">
    <p>
        <form action='req_or_donate' method="post">
        {% csrf_token %}
        <input type="hidden" name="amount" id="amount" value="{{N}}">
        <input type="hidden" name="move" id="move" value="{{move}}">
        {% with ''|center:N as range %}
        {% for _ in range %}
            <p><b>name{{ forloop.counter }}:</b><br>
            <input  type='text' name="name_{{ forloop.counter }}" id="name_{{ forloop.counter }}">
        {% endfor %}
        {% endwith %}
        <button type="submit">Отправить!</button>
        </form>
    </p>
</div>
{%endblock%}