{% extends "charity/base.html"%}
{%block title%}{%endblock%}
{%block content%}
<div class="container">
    <p class="lead">
    Здесь можете пожерствовать любую вещь положив её в соответсвующую ячейку FIFO или LIFO.
    </p>
</div>
<div class="container">
    <h3>Регистрация прошения</h3>
    <p>
    <a class="nav-link active" aria-current="page" href="ask_good">Взять</a>
    </p>
</div>

<div class="container">
    <h3>Регистрация пожертвования</h3>
    <p>
        <form action='donate' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" {% if button_disabled %} disabled {% endif %}>Пожертвовать!</button>
        </form>
    </p>
</div>
<div class="container">
    <p>
        <form action='' method="post">
        {% csrf_token %}
        {{ officeForm.as_p }}
        <button type="submit">Отправить!</button>
        </form>
    </p>
</div>
{%endblock%}