{% extends "charity/base.html"%}
{% load crispy_forms_tags %}
{%block title%}{%endblock%}
{%block content%}
<div class="container">
    <h1>
        Вы пришли попросить или отдать?
    </h1>
    <form action="choice_move" method="post">
        {% csrf_token %}
        <label>
            <input type="radio" name="question" value="donate">
            Отдать
        </label>
        <br>
        <label>
            <input type="radio" name="question" value="request">
            Попросить
        </label>
        <br>
        <button type="submit">перейти</button>
    </form>
    <h2> На этом сайте можно найти</h2>
    <ul>
        {% for l in list %}
        <h2>{{ l.base_item_hash }}</h2>
        <img src="{{ l.get_img_url }}" alt="{{ l.donation }}">
        {% endfor %}
    </ul>
</div>

{%endblock%}