{% extends "charity/base.html"%}
{%block title%}{%endblock%}
{%block content%}
{% if data %}
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">address</th>
            <th scope="col">donation_id</th>
            <th scope="col">State</th>
            <th scope="col">amount</th>
            <th scope="col">type</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
        <tr>
            <td>{{ d.base_item_hash }}</td>
            <td>{{ d.office }}</td>
            <td>{{ d.donation.donation_hash }}</td>
            <td>{{ d.donation.status_donation }}</td>
            <td>{{ d.base_item_hash.amount }}</td>
            <td>{{ d.base_item_hash.type_thing }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h5>Nothing to display</h5>
    {% endif %}
</div>
{%endblock%}