{% extends "charity/base.html"%}
{% load crispy_forms_tags %}
{%block title%}{%endblock%}
{%block content%}
<div class="container">
    <h2>Спасибо!!!</h2>
    <h2>Ваш номер: {{unic}}</h2>
<!--    {%if label %}-->
<!--    <h2>Опишите, пожалуйста, то что Вы отдали</h2>-->
<!--        <form action='add_description' method="post">-->
<!--            {% csrf_token %}-->
<!--            {{ form_d|crispy }}-->
<!--            <button type="submit">Отправить!</button>-->
<!--        </form>-->
<!--    </form>-->
<!--    {%endif%}-->
</div>
{%endblock%}